<!-- <div class="text-center" *ngIf="!(forums)">
  <ngb-progressbar type="info" [value]="fetchForumProgress" [striped]="true" [animated]="true">
    loading {{fetchForumProgress}}%
  </ngb-progressbar>
</div> -->

<!-- <div class="admin-header">
  <div class="header-image">
      <img src="assets/images/user1.jpg" alt="User Profile" class="img-responsive">
  </div>
  <div class="header__search__banner">
    <div class="date">
      <p>{{date | date}}</p>
    </div>
    <div class="search__icon">
      <i class="fa fa-search"></i>
    </div>
  </div>
</div> -->

<div class="card">
  <h3>Welcome</h3>
  <p>Fell free to use our platform</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="info-details">
        <img src="assets/fonts/users 2.png" alt="">
        <p class="user">1,203</p>
        <p class="text">Users</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info-details">
        <img src="assets/fonts/layers 2.png" alt="">
        <p class="forum">10,098</p>
        <p class="text">Forum</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info-details">
        <img src="assets/fonts/shopping-bag 2.png" alt="">
        <p class="store">39</p>
        <p class="text">Users</p>
      </div>
    </div>
  </div>
</div>
