<div class="text-center" *ngIf="!(attributes)">
  <ngb-progressbar type="info" [value]="fetchUserProgress" [striped]="true" [animated]="true">
      loading {{fetchUserProgress}}%
  </ngb-progressbar>
</div>

<button id="myBtn" routerLink="/add-attribute" title="Add Attribute"><i class="fa fa-plus fa-1.5"></i></button>

<div class="admin-header" *ngIf="attributes && attributes.length">
  <div class="form-group form-inline">
      Sort by <input class="form-control ml-2" type="text" name="searchTerm" />
  </div>
<div class="header__search__banner">
  <div class="search__icon">
    <i class="fa fa-search"></i>
  </div>
</div>
</div>

<div class="text-center" *ngIf="attributes && (attributes.length === 0)">
  <div class="loading-tab">
      <i class="fa fa-frown-o fa-2x text-secondary"></i><br />
      <h5 id="no-inflow-cat">No Users Yet</h5>
  </div>
</div>

<div *ngIf="attributes && attributes.length" class="table-responsive" id="local_data">
  <!-- <form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form> -->

  <table class="table table-responsive">
    <thead>
    <tr>
      <th scope="col">Attribute</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let attribute of attributes">
      <!-- <td class="text-center"><a (click)="viewUSer(attribute)">View</a></td> -->
      <td scope="row">{{attribute}}</td>
      <td>
        <div class="dropdown remove-caret" placement="left-top" ngbDropdown>
          <button id="drop-view" type="button" class="btn btn-secondary py-1 px-2"
              ngbDropdownToggle><i class="ion-ios-more"></i></button>
          <div class="dropdown-menu py-0" role="menu" ngbDropdownMenu>
            <button
            class="dropdown-item py-2" id="deleteItem">Edit Attribute</button>
            <div class="dropdown-divider my-0"></div>
            <button (click)="openDeleteModal(attribute)" class="dropdown-item py-2" type="button"
              id="deleteItem">Delete Attribute</button>
          </div>
        </div>
      </td>

    </tr>
    </tbody>
  </table>
</div>
