<div class="text-center" *ngIf="!(users)">
  <ngb-progressbar type="info" [value]="fetchUserProgress" [striped]="true" [animated]="true">
      loading {{fetchUserProgress}}%
  </ngb-progressbar>
</div>

<button id="myBtn" routerLink="/add-user" title="Add User"><i class="fa fa-plus fa-1.5"></i></button>

<div class="admin-header" *ngIf="users && users.length">
  <div class="form-group form-inline">
      Sort by <input class="form-control ml-2" type="text" name="searchTerm" />
  </div>
<div class="header__search__banner">
  <div class="search__icon">
    <i class="fa fa-search"></i>
  </div>
</div>
</div>

<div class="text-center" *ngIf="users && (users.length === 0)">
  <div class="loading-tab">
      <i class="fa fa-frown-o fa-2x text-secondary"></i><br />
      <h5 id="no-inflow-cat">No Users Yet</h5>
  </div>
</div>

<div *ngIf="users && users.length" class="tables-responsive" id="local_data">

  <table class="table tables-responsive">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">First&nbsp;Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Created&nbsp;on</th>
      <th scope="col">Age</th>
      <th *ngFor="let attribute of attributes">{{attribute}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="text-center"><a [routerLink]= "['/update-user-atrribute', user.user_ref]">Add Attribute</a></td>
      <td scope="row">{{user.first_name}}</td>
      <td scope="row">{{user.surname}}</td>
      <td>{{user.created_at | date: 'dd-mm-yyyy'}}</td>
      <td>{{user.age}}</td>
      <td *ngFor="let attribute of attributes">{{user[attribute]}}</td>

    </tr>
    </tbody>
  </table>
</div>
